body{
  background-color:white ;
}


.start{
  padding-top: 20px;
  background: rgba(0,0,100,0.4);
    height: 100vh;
    width: 100vw;
  
}
.start h1{
  font-family: 'Lobster Two', cursive;
  font-size: 60px;
  color: white;
}
.start a{
  margin-top: 20px;
  font-size: 20px;
  font-family: Franklin Gothic Heavy;
  color: white;
  margin-right: 10px;
}
.start .video-bg{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}
 @media(min-aspect-ratio:16/9)  {

  .start .video-bg{
    width: 100%;
    height:auto;
  }
}
 @media(max-aspect-ratio:16/9)  {

  .start .video-bg{
    width: auto;
    height:100%;
  }
}
.start  .my{
  position: relative;
  text-align: center;
  color: white;
  top: 150px;
}
.start .my h2{
  font-size: 40px;

  font-size: 50px;
  font-family: 'Fredericka the Great', cursive;
}
.start .my p{
  font-family: 'Boogaloo', cursive;
font-family: 'Fredericka the Great', cursive;
}




.text{
  margin-top: 400px;
    padding: 30px;
}
.text h4{
  font-family: Lucida Console;
  font-size: 40px;

}
.text p{
  font-size: 18px;
  font-style: oblique;
  font-weight: lighter;
  margin-top: 20px;
  font-family: 'Boogaloo', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Kalam', cursive;
}





.story{
  margin-top: 400px;
  padding: 30px;
}
.story img{
  width: 450px;
  height: 300px;
  margin-left: -30px;
  margin-top: 70px;
  border: 1px solid black ;
box-shadow: 10px 10px 4px #808080 ;
}
.story h4{
  font-family: Lucida Console;
  font-size: 40px;
}
.story p{
  font-size: 18px;
  font-style: oblique;
  font-weight: lighter;
  margin-top: 20px;

}


.approch{
  margin-top: 400px;
  padding: 20px;

}
.approch #carouselExampleSlidesOnly{
  height: 300px;
  margin-bottom: 100px;

}

.approch .my{
    border: 2px 4px ;
    margin-top: -240px;

}
.approch .my1{
  margin-top: -60px;


}
.approch .my1 h4{
  margin-top: -60px;
}




.service{
  margin-top: 400px;
  padding: 30px;
  }
  .service .row{
    margin-top: 200px;
  }
  .service img{
    width: 90px;
     height:90px;
  }
.service h1{
  text-decoration: underline;
}



.planning{
  margin-top: 50px;
  padding: 30px;

}
.planning .my1 p{
  margin-top: 50px;
  margin-left: 110px;
}
.planning .my{
  border: 1px solid black ;
box-shadow: 10px 10px 4px #808080 ;
}



.how {
  margin-top: 400px;
}
.how .my{
    border-right:  2px solid red;
}
.how h2{

  border: 2px solid red;


}



.Testimonial{
  padding: 30px;
  margin-top: 400px;
}
#carouselExampleSlidesOnly{
    margin-top: 50px;
}
.Testimonial h2{
  margin-top: -150px;
}
.Testimonial img{
  height: 70px;
  width: 70px;
  margin-top: 10px;
}
.Testimonial h6{
  margin-left: 80px;
  margin-top: -30px;
}
.Testimonial #carouselExampleControls{
  margin-top: 100px;
}






.team{
  padding: 30px;
}
.team .row{
  margin-top: 200px;

}
.team  .my{
padding: 10px;
}
.team h2{
  margin-top: 200px;
}
.team p{
  margin-top: 10px;
}
.team img{
  height: 300px;
  width: 300px;

}
.team h5{
  margin-top: 10px;
}
.team p{
  margin-top: -5px;
  margin-left: 30px;
}
.team a{
  margin-left: 120px;
  margin-top: -50px;
  padding: 3px;
}





.md img{
  width: 100%;
}



.footer{
  margin-top: 300px;
  padding: 50px;
}
.footer .my a{
  margin-top: -10px;
}
.footer .my h4{
  margin-left: 12px;
}
.footer .container div{
  padding: 10px;
}
